header {
    background-color: rgb(204, 29, 29);
    color: white;
    margin-bottom: -27px;
    padding-bottom: 0%;
    margin-top: -26.5px;
    margin-left: -2%;
    margin-right: -2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.8;
    letter-spacing: 4px;
    height: 20%;
    padding-bottom: -1%;
    text-shadow: 3px 3px 0px black;
}
h1 {
    font-size: 40px;
    text-align: center;
}
main {
    font-size: 2em;
}
p {
    font-size: 2rem;
}
nav {
    background-color: rgb(37, 37, 37);
    margin-left: -10px;
    margin-right: -10px;
    line-height: 2;
}
nav div {
    display: inline-block;
    border-right: solid;
    border-left: solid;
    border-color: rgb(77, 77, 77);
}
nav div a {
    color: white;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 20px 20px 20px;
}
nav div a:hover {
    color: rgb(204, 29, 29);
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 20px 20px 20px;
}
main {
    background-color: white;
    margin: 10px 10px 10px 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 0 3px 5px rgb(180, 180, 180);
    border-radius: 4%;
}
body {
    background-image: linear-gradient(rgb(238, 238, 238), rgb(223, 223, 223));
}
footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer p {
    font-size: 12px;
}