header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-image: linear-gradient(#eeeeee, #ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url("images/utahtechlogo.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0;
}
nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}
h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    color: #003058;
}
main {
    padding-left: 1rem;
    padding-right: 1rem;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
footer {
    font-size: 0.7rem;
    text-align: center;
    padding: 1rem;
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
}
#homehero {
    height: 300px;
    background-image: url("images/homehero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#studenthero {
    height: 300px;
    background-image: url("images/studenthero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#facultyhero {
    height: 300px;
    background-image: url("images/facultyhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav a {
    text-decoration: none;
}